name: Notion to GitHub Commit

on:
  workflow_dispatch:  # 수동 트리거를 추가하여 실행 버튼을 활성화
  schedule:
    - cron: '* * * * *'  # 매 분마다 실행

jobs:
  update-github:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install requests

    - name: Run Notion to GitHub script
      env:
        NOTION_API_KEY: ${{ secrets.NOTION_API_KEY }}
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
        RECEIVER_EMAIL: ${{ secrets.RECEIVER_EMAIL }}
        EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
      run: |
        python script.py

    - name: Stash changes
      run: |
        git stash

    - name: Pull changes from GitHub
      run: |
        git pull origin main --rebase

    - name: Apply stashed changes
      run: |
        git stash pop || echo "No stashed changes to apply"

    - name: Commit and push changes
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "Update from Notion [skip ci]" || echo "No changes to commit"
        git push origin main
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
